<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Bienvenue sur mon blog!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css"> {% block stylesheets %}{% endblock %}
		</head>
		<body>
			<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
				<a class="navbar-brand" href="/">SymBlog</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="/blog">Liste des Articles</span>
						</li>
                       
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/blog/new">Créer un Article</a>
				</li>

				{% if app.user %}
				
					<li  class="nav-item">
						<a  class="nav-link" href="{{ path('security_logout') }}">Se déconnecter</a>
						</li>

				{% else %}

					<li class="nav-item"><a class="nav-link" href="{{ path('security_login') }}">Se connecter</a></li>
					<li class="nav-item"><a class="nav-link" href="{{ path('security_registration') }}">S'inscrire</a></li>
					
				{% endif %}
			</ul>
		</body>
	</html>
</div></nav><div class="container"> {% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}</body></html>
